<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Fixed navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
       </div>
          
          <div class="collapse navbar-collapse" id="navbarCollapse">
        <form class="d-flex ">
          
          <button class="btn btn-outline-info my-2 my-sm-0" [routerLink]="['/login']" >Login</button>
          <button class="btn btn-outline-primary mx-3 my-2 my-sm-0" [routerLink]="['/register']" >Register</button>

      </form>
      </div>
  </nav>